<h1>写真一覧</h1>

<% if flash[:notice].present? %>
  <p><%= flash[:notice] %></p>
<% end %>
<% if flash[:alert].present? %>
  <p style="color: red;"><%= flash[:alert] %></p>
<% end %>

<%= button_to 'Google連携する', new_oauth2_path, method: :get %>

<div class="photos">
  <% @photos.each do |photo| %>
    <div class="photo">
      <p><%= photo.title %></p>
      <div class="image">
        <%= image_tag photo.file %>
      </div>
      <% if session[:access_token].present? %>
        <%= button_to 'Googleへアップロード', upload_to_google_photo_path(photo) %>
      <% end %>
    </div>
  <% end %>
</div>
