// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.photos {
  display: flex;
  flex-wrap: wrap;
}

.photo {
  text-align: center;
}

.photo + .photo {
  margin-right: 5px;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  width: 256px;
  height: 256px;

  img {
    max-width: 256px;
    max-height: 256px;
    vertical-align: middle;
  }
}
